<h1>D3.js in Action: Exercises</h1>
<ul>
  <li><%= link_to "1.6.1 Hello World with divs", hello_world_path %></li>
  <li><%= link_to "1.6.2 Hello World with circles", hello_world_circles_path %></li>
  <li><%= link_to "1.6.3 A conversation with D3", d3_conversation_path %></li>
</ul>
