circle {
  fill: pink;
  stroke: black;
  stroke-width: 1px;
  &.active {
    fill: red;
  }
  &.inactive {
    fill: gray;
  }
}

rect {
  fill: darkgray;
}

text {
  font-size: 10px;
}

g {
  text {
    &.active {
      font-size: 30px;
    }
    &.inactive {
      font-size: 10px;
    }
  }
}
